
<% include ./partials/header %>
<h1>INDEX PAGE</h1>

<% blogs.forEach(function(blog) {  %>
    <div>
        <h2><%= blog.title %></h2>
        <img src="<%=  blog.image  %>">
        <span><%= blog.created %></span>
        <p><%= blog.body %></p>


    </div>

<% }); %>

<img src="http://1.bp.blogspot.com/-jjwz8SD3N0k/ViFjNRYCt9I/AAAAAAAAABc/aBAS4Ru-0wQ/s1600/images.jpg">


<% include ./partials/footer %>
