<!DOCTYPE html>
<html>
    <head>
        <title>fakeCamp</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"></link>
    </head>
    <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
         <div class="navbar-header">
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-tent"></span>fakeCamp</a>
         </div>
         <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
               <li><a href="/">Login</a></li>
               <li><a href="/">Sign Up</a></li>
               <li><a href="/">Logout</a></li>
               
            </ul>
            
         </div>
      </div>
   </nav>